.popup {
  line-height: 1.4;
  width: 300px;
}

#notes {/*
  white-space: pre-wrap;*/
  border-radius: 3px;
  margin-bottom: 9px;
}

#separatenote {
  padding: 5px;
  margin-bottom: 5px;
  height: 40px;
  width: 285px;
  background-color: #ffffff;
}

#save {
  background: url(./add.png) no-repeat;
  border: none;
  height: 20px;
  width: 20px;
  margin-top: 2px;
  margin-left: 10px;
}

.remove {
  float: right;
  border: none;
  background: url(./trash.png) no-repeat;
  height: 30px;
  width: 30px;
  margin-top: 6px;
}

#checkbox-div {
  display: none;
  margin-bottom: 8px;
  margin-top: 8px;
}

#encrypt-passphrase-div {
}

#control-div {
  margin-top: 8px;
}

body {
  width: 300px;
}

label {
  font-size: 90%;
  width: 256px;
}

input {
  font-size: 90%;
}

a {
  font-size: 90%;
  vertical-align: bottom;
}

h1 {
  background-color: #00cc66;
  height: 40px;
  margin-top: -8px;
  margin-left: -9px;
  margin-right: -9px;
  color: #ffffff;
}



