.popup {
  line-height: 1.4;
  width: 300px;
}

.remove {
  float: right;
  border: none;
  background: url(./trash.png) no-repeat;
  height: 30px;
  width: 30px;
  margin-top: 6px;
}

#notes {
  border-radius: 3px;
  margin-bottom: 9px;
  font-family: 'Open Sans', sans-serif;
}

#separatenote {
  padding: 5px;
  margin-bottom: 5px;
  height: 40px;
  width: 285px;
  background-color: #ffffff;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
}

#save {
  background-color: #a6a6a6;
  float: right;
  border: none;
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 12px;
}

#save:hover {background-color: #39ac39}

#textbox {
  width: 200px;
  margin-top: 10px;
}

#checkbox-div {
  display: none;
  margin-bottom: 8px;
  margin-top: 8px;
}

#encrypt-passphrase-div {
}

#control-div {
  margin-top: 8px;
}

body {
  width: 300px;
}

label {
  font-size: 90%;
  width: 256px;
}

input {
  font-size: 90%;
}

a {
  font-size: 90%;
  vertical-align: bottom;
}

h1 {
  background-color: #39ac39;
  font-family: 'Open Sans', sans-serif;
  height: 40px;
  margin-top: -8px;
  margin-left: -9px;
  margin-right: -9px;
  color: #ffffff;
}
