.popup {
  line-height: 1.4;
  width: 300px;
}

#notes {/*
  white-space: pre-wrap;*/
  border-radius: 3px;
  margin-bottom: 9px;
  background-color: #ffffff;
}

#separatenote {
  padding: 5px;
  margin-bottom: 5px;
  border: solid;
  height: 40px;
  width: 285px;
  border-color: #4d4d4d;
}

button {
  margin-right: 0px;
}

#checkbox-div {
  display: none;
  margin-bottom: 8px;
  margin-top: 8px;
}

#encrypt-passphrase-div {
}

#control-div {
  margin-top: 8px;
}

body {
  width: 300px;
}

label {
  font-size: 90%;
  width: 256px;
}

input {
  font-size: 90%;
}

a {
  font-size: 90%;
  vertical-align: bottom;
}

h1 {
  background-color: #00cc66;
  height: 40px;
  margin-top: -8px;
  margin-left: -9px;
  margin-right: -9px;
  color: #ffffff;
}



